**/__pycache__/
/HSTR_RAFT/trained_models/
/HSTR_Flownet2/trained_models/

/HSTR_Flownet2/model/__pycache__/backwarp.cpython-36.pyc
/HSTR_Flownet2/model/__pycache__/unet_model.cpython-36.pyc
/HSTR_Flownet2/model/__pycache__/unet_parts.cpython-36.pyc
/HSTR_Flownet2/model/pytorch_msssim/__pycache__/__init__.cpython-36.pyc
/HSTR_RAFT/model/__pycache__/backwarp.cpython-36.pyc
/HSTR_RAFT/model/__pycache__/unet_model.cpython-36.pyc
/HSTR_RAFT/model/__pycache__/unet_parts.cpython-36.pyc
/HSTR_RAFT/model/pytorch_msssim/__pycache__/__init__.cpython-36.pyc
/HSTR_RAFT/model/__pycache__/backwarp.cpython-36.pyc
/HSTR_Farneback_SuperSlomo/logs/

