**/__pycache__/
**/.pkl
/HSTR_RAFT/trained_models/
/HSTR_Flownet2/trained_models/
/RIFE_HSTR_v6/train_log/

/HSTR_Flownet2/model/__pycache__/backwarp.cpython-36.pyc
/HSTR_Flownet2/model/__pycache__/unet_model.cpython-36.pyc
/HSTR_Flownet2/model/__pycache__/unet_parts.cpython-36.pyc
/HSTR_Flownet2/model/pytorch_msssim/__pycache__/__init__.cpython-36.pyc
/HSTR_Flownet2/logs/
/HSTR_RAFT/model/__pycache__/backwarp.cpython-36.pyc
/HSTR_RAFT/model/__pycache__/unet_model.cpython-36.pyc
/HSTR_RAFT/model/__pycache__/unet_parts.cpython-36.pyc
/HSTR_RAFT/model/pytorch_msssim/__pycache__/__init__.cpython-36.pyc
/HSTR_RAFT/model/__pycache__/backwarp.cpython-36.pyc
/HSTR_Farneback_SuperSlomo/model_dict/
/HSTR_Farneback_SuperSlomo/logs/
